

body {
    font-family: Poppins;
}
h2 { font-size: 20px;

}
h3 {
    font-size: 15px;

}

header {
    background-image: linear-gradient(
        rgba(0,0,0, 0.2),
        rgba(0, 0, 0, 0.6)),
    url("/src/e9e3297f-e4ba-4995-9921-c544eb8960c0-istock-827223454.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 400px 0 ;

}
header h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}
header h3 {
    text-align: center;
    color: white;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}
.intro {
text-align: center;
padding: 150px;
margin: 50px;
}
.instagram-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  
}

.intro-text {
    padding-top: 20px;
}



@media (max-width:1000px) {
    .instagram-grid {
        grid-template-columns: 1fr;
    }
    .intro {
        grid-template-columns: 1fr;
                padding: 0px;
    }
    .container { margin-right: 20px;

        margin-left: 20px;}
}